.card{
	padding-bottom: 30px;
	padding-top: 30px;
	background-color: #e6e8ed
}
.card:hover{
  background-color: #b1c2ed;
}
.card-img-top{
width:50px;
height: 60px;
}
.card-img-top
{
	float: left;
}
.button{ background:url(button.png) no-repeat; width:80px; height:30px; text-align:center; margin-top:20px;}
.button:hover{ background:url(button-hover.png) no-repeat;}
.button a{ line-height:30px; color:#ffffff; text-decoration:none;}
.button a:hover{ color:#ffffff;}
.heading
{
 font-size:54px; 
 color:#446396; 
 text-align:center;
 font-family: 'Rokkitt', serif; 
 font-size:47px;
}
.col-2{
	
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #efd7c9;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #3ca2d1;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #f4ebe6;
  color: #e05000;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #e05000;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
    color: #191818;
}
.sidebar-nav img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color:#efd7c9 ;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
