@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');




body {
  background: url(images/bg-01.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#collapsibleNavbar{
  font-family: 'Poppins', sans-serif;
  color: #222;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

p {
  overflow: auto;
}

.article-title {
  font-size: 30px;
  font-family: "Open Sans";
  font-weight: 800;
  color: #444444;
  -o-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  font-weight:100;
  font-family:'Open Sans'/*,'Helvetica Neue',Helvetica,Arial,sans-serif*/;
}

.article-content1 {
  white-space: pre-line;
  line-height: 200%;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.imgsrc {
    display: block;
    margin-left: auto;
    margin-right: auto;

}



.navbar{
  padding: 0.8rem;
}

.navbar-nav li{
  padding-right: 20px;
}

.nav-link{
  font-size: 1.1em;
}

.outside-header {
  padding-top: 20px;
  padding-left: 10px;
}