@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

body {
/*  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  !*
  overflow: hidden;
  *!
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
  padding-top: 5%;*/
    background: #ffffff;
    height: 100%;
    padding-top: 5%;
}

/*
main{
   height: 100%;
}
*/

/*
.ui-widget {
    padding-top: 3%;
}
*/

#collapsibleNavbar{
  font-family: 'Poppins', sans-serif;
  color: #222;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

p {
  overflow: auto;
}

.article-title {
  font-size: 30px;
  font-family: "Open Sans";
  font-weight: 800;
  color: #444444;
  -o-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
   transition:.5s;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  font-weight:100;
  font-family:'Open Sans';
}

.article-content1 {
  white-space: pre-line;
  line-height: 200%;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.imgsrc {
    display: block;
    margin-left: auto;
    margin-right: auto;

}



.navbar{
  padding: 0.8rem;
 /*   position: fixed;
    top: 0;
    width: 100%;*/
}

.navbar-nav li{
  padding-right: 20px;
}

.nav-link{
  font-size: 1.1em;
}

/*.outside-header {
  padding-top: 20px;
  padding-left: 10px;
}

.profile {
    padding-top: 20px;
}

.card-title {
    font-weight: bold;
    font-size: xx-large;
}*/

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}