{% extends "layout.html" %}
{% block content %}
        <h1 class="mb-3" style="color: white;" align="center">Posts by {{ user.username }} ({{ posts.total }})</h1>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
        <div class="container-fluid" style="max-width: 3000px;">
            <div class="row masonry-container">
            {% for post in posts.items %}
                <div class="item border">
                    <div class="thumbnail">
                        <div class="entry-media">
                        {% if post.user_tag == 'Technology' %}
                            <img src="{{ url_for('static', filename='images/technology.jpg') }}">
                        {% elif post.user_tag == 'Adventure' %}
                            <img src="{{ url_for('static', filename='images/technology.jpg') }}">
                        {% elif post.user_tag == 'Science' %}
                            <img src="{{ url_for('static', filename='images/science.jpg') }}">
                        {% elif post.user_tag == 'Sport' %}
                            <img src="{{ url_for('static', filename='images/sports.jpg') }}">
                        {% elif post.user_tag == 'Fashion' %}
                            <img src="{{ url_for('static', filename='images/fashion.jpg') }}">
                        {% elif post.user_tag == 'Food' %}
                            <img src="{{ url_for('static', filename='images/food.jpg') }}">
                        {% elif post.user_tag == 'Life' %}
                            <img src="{{ url_for('static', filename='images/technology.jpg') }}">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/others.jpg') }}">
                        {% endif %}                    
                        </div>
                        <div class="entry-body">
                            <span class="cat">{{ post.user_tag }}</span>
                            <h3><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                            <div class="article-metadata">
                                <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                                <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
                            </div>
                            <p>{{ post.content|safe|striptags|truncate(100) }}</p>
                        </div>
                        <div class="footer-copyright text-center py-3">
                            <a href="{{ url_for('post', post_id=post.id) }}">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="page-load-status">
            <div class="loader-ellips infinite-scroll-request">
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
            </div>
    <!--         <p class="infinite-scroll-last">End of content</p>
            <p class="infinite-scroll-error">No more pages to load</p> -->
        </div>
        <a class="pagination__next" href="{{ url_for('all_user_posts', username=user.username, page=2) }}"></a>
    
{% endblock %}

{% block sidebar %}
    <div class="profile">
        <div class="card" style="width: 18rem;position: fixed">
          <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ current_user.username }}</h5>
            {% if current_user.aboutme %}
                <h6 class="card-subtitle mb-2 text-muted">About me</h6>
                <hr>
                <p class="card-text">{{ current_user.aboutme }}</p>
            {% endif %}
{#            <a href="#" class="btn btn-primary">Go somewhere</a>#}
          </div>
        </div>
    </div>


{% endblock %}