{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <div class="container-fluid" style="max-width: 3000px;">
        <div class="row masonry-container">
        {% for post in posts.items %}
            <div class="item border">
                <div class="thumbnail">
                    <div class="entry-media">
                        <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                    </div>
                    <div class="entry-body">
                        <span class="cat">{{ post.user_tag }}</span>
                        <h3><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                        <div class="article-metadata">
                            <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                        </div>
                        <p>{{ post.content|safe|striptags|truncate(100) }}</p>
                    </div>
                    <div class="footer-copyright text-center py-3">
                        <a href="{{ url_for('post', post_id=post.id) }}">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="page-load-status">
        <div class="loader-ellips infinite-scroll-request">
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
        </div>
<!--         <p class="infinite-scroll-last">End of content</p>
        <p class="infinite-scroll-error">No more pages to load</p> -->
    </div>

{% endblock content %}

{% block sidebar %}
    {% if current_user.is_authenticated %}
        <br>
            <div class="card" style="width: 18rem; position: fixed" >
              <ul class="list-group list-group-flush">
                <div class="card-header" style="background-color: darkcyan">
                    <a data-toggle="collapse" href="#popular_posts" role="button" aria-expanded="false" aria-controls="popular_posts">
                        <h4 style="align-content: center; font: diagonal-fractions">Popular Posts</h4>
                    </a>
                </div>
                  <div class="collapse" id="popular_posts">
                      {% for item in result %}
                          <ul class="list-group">
                              <a href="{{ url_for('post', post_id=result[item][0] ) }}"><li class="list-group-item list-group-item-light">{{ result[item][1] }}</li></a>
                          </ul>
                      {% endfor %}

                </div>
              </ul>
              <ul class="list-group list-group-flush">
                  <div class="card-header" style="background-color: darkcyan">
                        <h4 style="align-content: center; font: italic">Tools</h4>
                  </div>
                <a href="#"><li class="list-group-item">Put the  head here</li></a>

                  <a href="{{ url_for('user_posts', username=current_user.username) }}"><li class="list-group-item">View My Profile</li></a>

                <a href="{{ url_for('all_user_posts', username=current_user.username) }}"><li class="list-group-item">All My Posts</li></a>

                <a href="{{ url_for('unpublished_user_posts', username=current_user.username) }}"><li class="list-group-item">View Unpublished Posts</li></a>

                <a href="{{ url_for('published_user_posts', username=current_user.username) }}"><li class="list-group-item">View Published Posts</li></a>

                  <a href="{{ url_for('comments_posts', username=current_user.username) }}"><li class="list-group-item">All Comments</li></a>
              </ul>
            </div>
    {% else %}
        <ul class="list-group list-group-flush">
        <div class="card-header" style="background-color: darkcyan">
            <a data-toggle="collapse" href="#popular_posts" role="button" aria-expanded="false" aria-controls="popular_posts">
                <h4 style="align-content: center; font: diagonal-fractions">Popular Posts</h4>
            </a>
        </div>
        {% for item in result %}
        <ul class="list-group">
          <a href="{{ url_for('post', post_id=result[item][0] ) }}"><li class="list-group-item list-group-item-light">{{ result[item][1] }}</li></a>
        </ul>
        {% endfor %}
        </ul>
    {% endif %}


{% endblock %}