<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='post.css') }}">
{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    {% if post.author == current_user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            {% if not post.published %}
                                <script>console.log("yes")</script>
                                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('publish_post', post_id=post.id) }}">Publish</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="tag">{{ post.user_tag }}</div>
                <h2 class="article-title">{{ post.title }}</h2>
                    <div id="inside-blog">
                    {{ post.content|safe }}
                    </div>

            </div>
        </article>
        <!--Like View-->
        <div class="container row">
            {% if current_user.is_authenticated %}
                {% if current_user.has_liked_post(post) %}
                    <a href="{{ url_for('like_action',post_id=post.id,action='unlike') }}"><i class="fa fa-thumbs-down" style="font-size: 50px;cursor: pointer;"></i></a>
                {% else %}
                    <a href="{{ url_for('like_action',post_id=post.id,action='like') }}"><i class="fa fa-thumbs-up" style="font-size: 50px;cursor: pointer;"></i></a>
                {% endif %}
            {% endif %}
            <p style="font-size: 25px; padding: 10px ">{{ post.likes.count() }}</p>
        </div>

        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Comment</legend>
                    <div class="form-group" >
                        <!-- {{ form.body.label(class="form-control-label") }} -->
                        {% if form.body.errors %}
                            {{ form.body(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.body.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.body(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    <!--comments view-->
        {% if comments %}
            {% for comment in comments %}
                    <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="pull-left image">
                                {% if comment.comment_user_id %}
                                    <a href="{{ url_for('user_posts', username=comment.username) }}">
                                        <img src="{{ url_for('static', filename='profile_pics/' + comment.commentor.image_file) }}" class="img-circle avatar" alt="{{ comment.username }}'s profile">
                                    </a>
                                {% else %}
                                    <img src="{{ url_for('static', filename='profile_pics/default.jpg') }}" class="img-circle avatar" alt="user profile image">
                                {% endif %}

                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    {% if comment.comment_user_id %}
                                        <a href="{{ url_for('user_posts', username=comment.username) }}"><b>{{ comment.username }}</b></a>
                                    {% else %}
                                        <b id="temp">{{ comment.username }}</b>
                                    {% endif %}
                                    made a post.
                                </div>
                                <h6 class="text-muted time">{{ comment.timestamp.strftime('%Y-%m-%d') }}</h6>
                            </div>
                        </div>
                        <div class="post-description">
                            <p>{{ comment.body }}</p>
                        </div>
                </div>
            {% endfor %}
        {% endif %}
        {#{% if comments %}
            {% for comment in comments %}
                {{ comment.body }}
                <br>
                {% if comment.timestamp %}
                    {{ comment.timestamp.strftime('%Y-%m-%d') }}
                {% else %}
                {% endif %}
                <br>
                {{ comment.username }}
                <br>
            {% endfor %}
        {% endif %}#}


        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>



{% endblock content %}
